.home{
    position: relative;
}
.what{
    position: absolute;
    top:78%;
    left:31%;
    color:white;
    font-size: xx-large;
    background-color: blue;
    border-radius: 7px;
    padding:20px 128px 20px 128px;
    
}
@media screen and (min-width:1024px){}
#change{
   height: 390px; 
}
h2{
    color:blue;
}

}


.slideup{
    visibility: visible;
}
.onit{
    position: relative;
    height: ;
}
.write{
    position: absolute;
    top:28%;
    left:32%;

}
#head{
    color: white;
    font-size:4.1em;
    font-weight: bold;
}
#hea{
    color:rgb(238, 59, 59);
    font-size: large;
    font-weight: bold;
    background-color:rgb(16, 16, 214);
    border-radius: 4px;
    padding-left: -8px;
    padding-right:-8px;
}
#wedo{
    color: white;
    font-size:large;
    font-weight: bold;
    padding: 15px;
    background-color:rgb(34, 34, 65);
    top:75%;
    left:40%;
    position: absolute;
    border-radius: 4px;
}
.writeon{
    position: absolute;
    top:0%;
    left:2%;
    color:white;
    font-size:1.3em;
    padding-left:20px;
    padding-right:20px ;
}
.learn{
 text-decoration: none;
 color:white;
 font-size: large;
 text-align: center;
 background-color: blue;
 padding:10px;
 margin-left:auto;
 border-radius: 5px;

}
.dropdown{
    position: relative;
    display: inline-block;
    display: none;
}
.dropdown-content{ 
    position: absolute;
    display:none;
    min-height:960px;
    padding:12px 6px;
    z-index:1;
    color:black;
    background-color: white;
    text-decoration:none;
    width:850px;
    display: none;
}
 .links{
     text-decoration: none;
     color:black;
     background-color: white; 
     display: block;
     padding:10px;
    }
     