*{
    box-sizing: border-box;
}
@media screen and(min-width:768px){
  #cli{display: none;}
  .dropdown-content{display: inline;}  
}



.dropdown{
    position: relative;
    display: inline-block;
    display:none ;
    background-color:rgb(244, 250, 250);
}
.dropdown-content{ 
    position: absolute;
    
    min-height:px;
    padding-left:10px;
    z-index:1;
    color:black;
    background-color:rgb(28, 29, 29);
    text-decoration:none;
    width:850px;
    text-align: center;
}
 .links{
     text-decoration: none;
     color:black;
      
     display: block;
     padding:10px;
     padding-left:350px;
     font-weight: bold;
     color:cadetblue;
    }
.onit{
    position: relative;
}
.writeon{
    position: absolute;
    top:162px;
    left:50px;
    font-size: large;
    color:white;
}

#quote{
    background-color:blue;
    color:white;
    border-radius: 5px;
    padding:4px;
    text-decoration: none;
    float:right;
    margin:auto; 
    

}
.colo{
    background-color:rgb(51, 51, 73);
    color:white;
    font-size:1.1em;
}
@media screen and (max-width:767px){
#quote{
    float:right;
    padding:6px;
    width:40%;
};
};

@media screen and (max-width:991px){
  #hide{
      display: none;
      color: cyan;
  }  
}

@media screen and(min-width:768px){
   #adj{margin-left: 400px;} 
}


.gallery{
    background-color: white;
    margin-left: 20px;
}
#sp{
padding-left: 10px;
}
#move{
 margin-left: 118px; 
 margin-bottom:60px;
 color:white;
 float: right;
 height:40px;
 width:120px;
 background-color: black;
 border:1.5px solid white;
}
#sub{
  background-color: rgb(128, 124, 120);
  border-radius: 4px;
  border:2px aliceblue;
  color:aliceblue;
  padding:5px 40px;
  font-size: large;  
}
#tp{
    margin: auto 120px auto 20px;
}
#under{
    margin: auto 120px auto 20px;   
}
.oni{
    position: relative;
}
.writeo{
    position: absolute;
    top:162px;
    left:10px;
    font-size: large;
    color:white;
    padding-left:20px;
    
}
.on{
   position: relative;
}
.write{
  position: absolute;
  top:162px;
  left:10px;
  font-size:large;
  color:white;
  padding-left: 20px;
}
.o{
position:relative;
}
.writ{
    position: absolute;
    top:162px;
    left:180px;
    font-size:large;
    color:white;
    padding-left: 20px;

}


#nav{
    float: right;
    margin-right:-120px;
    height:20px;
     width:20px;
}
#na{
    height:20px;
     width:20px;
     margin-left: -25px;
     margin-top:-95px;
}
#n{
    width:20px;
    height:20px;
    float: right;
    margin-right: -95px;
}
#side{
   margin:10px 0px 0px 2px; 
}
.oni{
    animation-name: example;
    animation-duration: 4s;
}
#em{
    width: 100%;
    height: 45px;
    padding:5px;
    border:1.5px solid white; 
    color:thistle;
    background-color: black; 
}

@media screen and (max-width:768px){
    #ad{
        padding-left: -20px;
    }
}

#adjust{
    margin-left: 20px;
    width: 30px;
    height: 30px;
}
#Math{
    color:white;
    font-weight: bolder;
    font-size: x-large; 
}

#lastline{
  color:white;
  text-align: center;
}

@media screen and (max-width:768px){
    #first{
        padding-top:-50px ;
    }
    #second{
        padding-top: px;
    }
    #si{display:block};
}


@media screen and (max-width:768px){
    .grid-container{display: grid;
    grid-template-columns:200px,50px;
    width:100%;
    }
   #ad{
       
     
    } 
}
