.log{
  text-align: center;
  font-size: xx-large;
  color:rgba(202, 202, 230,1.0);
  font-weight: bolder;
}
#but{
  background-color:green;
  color: white;
  border-radius: 3px solid white;
}
#gr{
  color:lightgreen;
}
/*Navbar*/
.navbar{
  margin-bottom: 0;
  border-radius: 0;
}
#na{
  padding:15px;
  
}
/*navbar end*/

#cyan{
  color:lightgreen;
}
.n{
  color: white;
  text-decoration: none;
}
#wh{
  color: white;
}
@keyframes example{
  cu
}